@import "../../../theme/variables.scss";

#sign-up-content {
  text-align: center;

  #logo {
    width: 80%;
    margin: 40px auto;
  }

  .submit-wrapper {
    text-align: right;
    a {
      font-size: 4vw;
      color: var(--ion-color-secondary);
      font-style: italic;
      text-decoration: none;
      margin: 0 20px 0 0;

      @media screen and (min-width: 750px) {
        font-size: 30px;
      }
    }
  }
}
