<app-logged-out-header></app-logged-out-header>

<ion-content class="ion-padding">

    <div id="sign-up-content">

        <h2>Welcome to {{getBrandingName()}}!</h2>

        <img *ngIf="getBrandingImageUrl()" id="logo" [src]="getBrandingImageUrl()">

        <form [formGroup]="form" class="ion-padding">
            <ion-item>
                <ion-label position="stacked">Name</ion-label>
                <ion-input type="text" ngDefaultControl formControlName="name" [formControl]="form.controls.name"></ion-input>
            </ion-item>

            <div color="alert" *ngIf="submitted && !form.controls.name.valid" class="validator-error">
                Please enter your name.
            </div>

            <ion-item>
                <ion-label position="stacked">Email Address</ion-label>
                <ion-input type="email" ngDefaultControl formControlName="email" [formControl]="form.controls.email"></ion-input>
            </ion-item>

            <div color="alert" *ngIf="submitted && !form.controls.email.valid" class="validator-error">
                Please enter a valid email address.
            </div>

            <ion-item>
                <ion-label position="stacked">Password <small>(at least 6 characters)</small></ion-label>
                <ion-input type="password" ngDefaultControl formControlName="password" [formControl]="form.controls.password"></ion-input>
            </ion-item>

            <div *ngIf="submitted && !form.controls.password.valid" class="validator-error">
                Please enter a valid 6 digit password.
            </div>

            <div class="submit-wrapper">
                <ion-button large (click)="submit()">Sign Up</ion-button>
            </div>
        </form>

        <p>Already have an account?<br/><span class="link" (click)="goToSignIn()">Click here to sign in.</span></p>
    </div>

</ion-content>

<footer>
    Copyright 2019, {{getBrandingName()}}
</footer>
