<ion-content class="ion-padding">
    <div (click)="showManagerDialogue()" id="add-btn">
        Add Member <ion-icon name="add-outline" ></ion-icon>
    </div>

    <ion-list *ngIf="organization">
        <ion-item *ngFor="let organizationManager of organizationManagers">
            {{organizationManager.name()}} - {{organizationManager.roleName()}}
            <span slot="end" *ngIf="notMe(organizationManager)">
                <ion-icon name="create-outline" (click)="showManagerDialogue(organizationManager)"></ion-icon>
                <ion-icon name="close-circle-outline" (click)="promptDeletion(organizationManager)"></ion-icon>
            </span>
        </ion-item>
    </ion-list>

    <div id="manager-form-wrapper" *ngIf="formVisible" (click)="closeOrganizationManagerForm()">
        <div id="manager-form" (click)="preventPropagation($event)">
            <h3>Add Member</h3>
            <p>Enter the email address of the user that you want to add to your organization, and what sort of role this year will have in your organization.</p>
            <ion-item>
                <ion-label position="stacked">Email Address</ion-label>
                <ion-input type="email" #emailInput [disabled]="editingOrganizationManager != null" [value]="editingOrganizationManager ? editingOrganizationManager.user.email : null"></ion-input>
            </ion-item>

            <ion-radio-group #roleRadioGroup [value]="editingOrganizationManager ? editingOrganizationManager.role_id : null">
                <ion-label position="stacked">Role</ion-label>
                <ion-list>
                    <ion-item *ngFor="let role of organizationRoles">
                        <ion-label>{{role.label}}</ion-label>
                        <ion-radio slot="start" [value]="role.value"></ion-radio>
                    </ion-item>
                </ion-list>
            </ion-radio-group>

            <ion-button (click)="saveOrganizationManager(emailInput.value, roleRadioGroup.value)">Submit</ion-button>
        </div>
    </div>

</ion-content>
