@import "variables";
ion-header {
  ion-toolbar {
    --background: var(--ion-color-secondary);
  }
}
footer {
  background: var(--ion-color-secondary);
  color: white;
  padding: 1em 2em;
}
.validator-error {
  color: var(--ion-color-danger-shade);
}

.side-by-side {
  display: flex;
  width: 100%;
  align-content: space-between;
  input {
    flex-grow: 1;
    min-width: 46%;
  }
}
#submit-wrapper {
  text-align: center;
}
