<app-logged-in-header></app-logged-in-header>

<ion-content class="ion-padding">

    <form card container=".card-container" *ngIf="user && membershipPlans">
        <div class="validator-error" *ngIf="error">{{error}}</div>

        <div *ngIf="feature">
            <h3>You need to upgrade your account to get access to this feature.</h3>
            <p>{{feature.description}}</p>
            <p>Membership plans, which will give you access to this feature are listed below. Your cost is prorated to the end of your current subscription, at which point you will be charged the full amount for another year. Lifetime subscriptions are not prorated.</p>
        </div>

        <ng-container *ngIf="currentSubscription">
            Your {{currentSubscription.membership_plan_rate.membership_plan.name}} subscription is {{getCurrentSubscriptionStatus()}}

            <div class="submit-wrapper" *ngIf="currentSubscription.expires_at">
                <ion-button *ngIf="currentSubscription.recurring" (click)="setRecurring(false)">Cancel Auto Renewal</ion-button>
                <ion-button *ngIf="!currentSubscription.recurring" (click)="setRecurring(true)">Turn On Auto Renewal</ion-button>
            </div>
        </ng-container>

        <ng-container *ngIf="availableMembershipPlans().length > 0">
            <ng-container *ngIf="!currentSubscription else upgrading">
                <ion-radio-group class="membership-options">

                    <ion-list-header>
                        <ion-label>
                            Select Your Membership Plan
                        </ion-label>
                    </ion-list-header>

                    <ion-item *ngFor="let membershipPlan of availableMembershipPlans()" (click)="setSelectedMembershipPlan(membershipPlan)">
                        <ion-label>{{membershipPlan.name}} ${{membershipPlan.current_cost}}</ion-label>
                        <ion-radio slot="start" value="{{membershipPlan.id}}">
                        </ion-radio>
                    </ion-item>
                </ion-radio-group>

                <h3 *ngIf="membershipPlans.length == 1">
                    Subscribe to the {{membershipPlans[0].name}} for ${{membershipPlans[0].current_cost}}
                </h3>
            </ng-container>

            <ng-template #upgrading>
                <ion-radio-group class="membership-options">

                    <ion-list-header>
                        <ion-label>
                            Upgrade Your Membership Plan
                        </ion-label>
                    </ion-list-header>

                    <ion-item *ngFor="let membershipPlan of availableMembershipPlans()" (click)="setSelectedMembershipPlan(membershipPlan)">
                        <ion-label>
                            {{membershipPlan.name}} ${{membershipPlan.calculateProratedCost(currentSubscription)}}
                            <span *ngIf="membershipPlans[0].duration !== 'lifetime'"> , the cost will be ${{membershipPlans[0].current_cost}} per {{membershipPlans[0].duration}} after your current subscription expires.</span>
                        </ion-label>
                        <ion-radio slot="start" value="{{membershipPlan.id}}">
                        </ion-radio>
                    </ion-item>
                </ion-radio-group>

                <h3 *ngIf="membershipPlans.length == 1">
                    Upgrade to the {{membershipPlans[0].name}} for ${{membershipPlans[0].calculateProratedCost(currentSubscription)}}
                    <span *ngIf="membershipPlans[0].duration !== 'lifetime'"> after your current subscription expires, the cost will be ${{membershipPlans[0].current_cost}} per {{membershipPlans[0].duration}}.</span>
                </h3>
            </ng-template>
        </ng-container>

        <div [ngStyle]="getCardSelectorDisplay()">

            <ion-radio-group id="payment-options" *ngIf="user && user.payment_methods.length > 0" value="{{selectedPaymentMethod?.id}}">
                <ion-list-header>
                    <ion-label>Select Your Payment Method</ion-label>
                </ion-list-header>

                <ion-item
                        *ngFor="let paymentMethod of user.payment_methods"
                        (click)="setSelectedPaymentMethod(paymentMethod)">
                    <ion-label>Card Ending In {{paymentMethod.identifier}}</ion-label>
                    <ion-radio slot="start" value="{{paymentMethod.id}}"></ion-radio>
                </ion-item>

                <ion-item (click)="setSelectedPaymentMethod(null)">
                    <ion-label>New Credit Card</ion-label>
                    <ion-radio slot="start"></ion-radio>
                </ion-item>

            </ion-radio-group>

            <div id="new_card_inputs" [ngStyle]="getCardDisplay()">
                <div class="card-container"></div>

                <div class="validator-error" *ngIf="cardError">{{cardError}}</div>

                <input #cardNumber type="text" name="number" card-number placeholder="Card Number"/>
                <input #cardName type="text" name="first-name" card-name placeholder="Full Name"/>

                <div class="side-by-side">

                    <input #cardExpiry type="text" name="expiry" card-expiry placeholder="MM/YY"/>
                    <input #cardCVC type="text" name="cvc" card-cvc placeholder="CVC"/>
                </div>
            </div>

            <div class="submit-wrapper">
                <ion-button large (click)="submit()" class="btn">{{currentSubscription ? 'Change Payment Method' : 'Submit'}}</ion-button>
            </div>
        </div>

    </form>

</ion-content>
