h3 {
  text-align: center;
}
#payment-options {
  margin: 0 0 10px;
}
#new_card_inputs {
  display: flex;
  flex-direction: column;

  .card-container {
    margin: 0 auto 10px;
  }

  input {
    margin: 5px;
  }
}